@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Noto+Serif|Playfair+Display&display=swap');
@import url('https://use.typekit.net/ayu5qvr.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: rgba(0,0,0,.75);
	background-color: #e9f0f7;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	line-height: 1.25em;
	letter-spacing: 0.02em;
	font-size: 18px;
}

section {
    padding: 20px;
    margin-left: 80px;
}

header {
	padding: 0px;
    width: 100%;
}


.hero-image {
	background-image: url("../images/getty.png");
	height: 95vh;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20px 20px 20px 100px;
}

h1,h2,h3 {
	letter-spacing: 0.023em;
}

h1 {
	font-family: 'Noto Serif', serif;
	font-size: 3.4em;
	font-weight: 400;
	line-height: 1.25em;
	margin-bottom: 1em;
	margin-top: 1em;
	clear: left;
}

h2 {
	font-family: 'Freight Display Pro', serif;
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 200;
	margin-bottom: .5em;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.25em;
	text-transform: uppercase;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: .875em;
	font-weight: 100;
	line-height: 1.25em;
	text-transform: uppercase;
}

ul {
	list-style-position: inside;
}

.topnav {
	text-transform: uppercase;
	background-color: rgba(233, 240, 247, .6);
}

.topnav a {
	text-decoration: none;
	float: left;
	display: block;
	font-size: 0.875em;
    padding: 30px 30px 30px 5px;
	box-sizing: 100%;
	margin-bottom: 40px; 
	color: #fff;
}

footer {
	background-color: #3c6870;
	color: white;
	font-size: 0.8em;
    padding: 20px 20px 20px 100px;
   	margin-top: 2em;
   	line-height: 1.5em;
}

footer a:hover {
	color: #8ba5aa;
}

a {
	display: block;
	padding: 3px 0px;
  	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #3c6870;
}

.button{
	background-color: #3c6870;
	border: 2px solid #3c6870;
	border-radius: 8px;
	color: white;
	padding: 10px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.125em;
	margin: 40px 2px;
	cursor: pointer;
	font-weight: 100;
}
.button:hover{
	background-color: #8ba5aa;
	border: 2px solid #8ba5aa;
	color: #3c6870;
}
.button:visited{
	color: white;
}

.column{
	display: inline-block;
	width: 45%;
}

#column1{
	float: left;
	width: 30%;
	padding: 40px 0px;
	overflow: auto;
}

#column2{
	float: left;
	padding: 40px 0px 40px 50px;
	width: 60%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

@media only screen and (max-width: 600px) {
	.column {
		float: none;
		width: 100%;
	}
	#column1 {
		float: none;
		padding: 15px 0px;
		width: 100%;
	}
	#column2 {
		float: none;
		width: 100%;
		padding: 15px 0px;
	}
	.hero-image {
		height: 100%;
		padding: 25px 20px 25px 40px;
	}
	section {
		padding: 20px;
   		margin-left: 20px;
	}

	footer {
	    padding: 20px 20px 20px 40px;
	}
	h1 {
		padding: 25px 0px;
	}

	.topnav a {
		font-size: .83em;
		padding: 30px 20px 30px 5px;
	}
}


@media only screen and (min-width: 601px) and (max-width: 812px){
	.hero-image {
		height: 100%;
		padding: 25px 20px 25px 40px;
	}
	.column{
		display: inline-block;
		width: 45%;
	}
	#column1{
		float: left;
		width: 35%;
		padding: 20px 20px;
		overflow: auto;
	}
	#column2{
		float: left;
		padding: 20px 0px 20px 40px;
		width: 55%;
	}
	section {
		padding: 20px;
		margin-left: 0px;
	}
	footer {
	    padding: 20px 20px 20px 20px;
	}
}
@media only screen and (min-width: 812px) and (max-width: 1366px){
	.hero-image {
		height: 100%;
		padding: 25px 20px 25px 80px;
	}
	.column{
		display: inline-block;
		width: 45%;
	}
	#column1{
		float: left;
		width: 35%;
		padding: 20px 40px;
		overflow: auto;
	}
	#column2{
		float: left;
		padding: 20px 0px 20px 40px;
		width: 55%;
	}
	section {
		padding: 20px 40px 20px 40px;
		margin-left: 0px;
	}
	footer {
	    padding: 20px 20px 20px 40px;
	}
}