@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Noto+Serif|Playfair+Display&display=swap');
@import url('https://use.typekit.net/ayu5qvr.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: #3c6870;
	background-color: #e9f0f7;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	line-height: 1.25em;
	letter-spacing: 0.02em;
	font-size: 16px;
}

section {
    padding: 20px;
    margin-left: 80px;
}

header {
	padding: 0px;
    width: 100%;
}


.hero-image {
	background-image: url("../images/getty.png");
	height: 100vh;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 20px 20px 20px 100px;
}

h1,h2,h3 {
	letter-spacing: 0.023em;
}

h1 {
	font-family: 'Noto Serif', serif;
	font-size: 3.75em;
	font-weight: 400;
	line-height: 1.25em;
	margin-bottom: 1em;
	margin-top: 1em;
}

h2 {
	font-family: 'Freight Display Pro', serif;
	font-size: 2.1875em;
	line-height: 1.25em;
	font-weight: 200;
	margin-bottom: .5em;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.25em;
	text-transform: uppercase;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	font-weight: 100;
	line-height: 1.25em;
	text-transform: uppercase;
}

ul {
	list-style-position: inside;
}

.topnav {
	text-transform: uppercase;
	background-color: rgba(233, 240, 247, .6);
}

.topnav a {
	text-decoration: none;
	float: left;
	display: block;
	font-size: 0.875em;
    padding: 30px 30px 30px 5px;
	box-sizing: 100%;
	margin-bottom: 40px; 
}

.topnav .icon{
	display: none;
}

.topnav a.icon{
	display: none;
  	font-size: 1.25em;
}

footer {
	background-color: #8ba5aa;
	color: white;
	font-size: 0.875em;
    padding: 20px 20px 20px 100px;
   	margin-top: 2em;
   	line-height: 1.5em;
}

a {
	display: block;
	padding: 3px 0px;
  	color: #3c6870;
}

a:visited {
	color: #3c6870;
}

a:hover {
	color: white;
}

.button{
	background-color: #3c6870;
	border: 1.5px solid #3c6870;
	border-radius: 8px;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.125em;
	margin: 30px 2px;
	cursor: pointer;
	font-weight: 100;
}
.button:hover{
	background-color: #8ba5aa;
	border: 2px solid #8ba5aa;
	color: #3c6870;
}
.button:visited{
	color: white;
}

.column{
	display: inline-block;
	width: 45%;
}

#column1{
	float: left;
	width: 30%;
	padding: 40px 0px;
	overflow: auto;
}

#column2{
	float: left;
	padding: 40px 0px 40px 50px;
	width: 60%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

@media only screen and (max-width: 600px) {
	.column {
		float: none;
		width: 100%;
	}
	#column1 {
		float: none;
		padding: 15px 0px;
		width: 100%;
	}
	#column2 {
		float: none;
		width: 100%;
		padding: 15px 0px;
	}
	.hero-image {
		height: 100%;
		padding: 25px 20px 25px 40px;
	}
	section {
		padding: 20px;
   		margin-left: 20px;
	}

	footer {
	    padding: 20px 20px 20px 40px;
	}
	h1 {
		padding: 25px 0px;
	}
	h3 {
		font-weight: bold;
	}
}

@media only screen and (max-width: 600px) {
	.topnav a {display: none;}
	.topnav a.icon {
	    float: left;
	    display: block;
	}
}

@media only screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
		margin: 30px 0px 0px -5px;
		padding: 0px 5px 5px 5px;
	}
	.topnav.responsive.icon {
	  	position: absolute;
	    left: 0;
	    top: 0;
    }

 	.topnav.responsive a {
	    float: none;
	    display: block;
	    text-align: left;
		padding: 0px 5px;
		margin-top: 20px;
		margin-bottom: 0px;
		font-weight: 100; 
  }
}