@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500|Noto+Serif|Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  color: #3c6870;
  background-color: #e9f0f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
section {
    padding: 5em 0;
}
header {
    float: left;
    width: 100%;
}
#intro{
  background-image: url("../images/getty.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 13em 5em;
}
h1,h2,h3 {
	font-family: 'Noto Serif', serif;
	font-weight: 300;
	letter-spacing: 0.024em;
}
h1{
	font-size: 60px;
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	letter-spacing: 0.025em;
	line-height: 1.25em;
}
h2{
	font-size: 28px;
}
h3{
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.024em;
	line-height: 1.25em;
}
ul{
	list-style-position: inside;
}
nav a{
	text-decoration: none;
	display: inline-block;
	padding: 1em;
}

footer{
	font-size: 14px;
}

a {
  color: inherit;
}

a:visited {
	color: #3c6870;
}

a:hover {
  color: #8ba5aa;
}
